input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px white inset !important;
}

.react-tel-input .flag-dropdown {
	border: 1px solid #eaeaea !important;
	background-color: transparent !important;
	border-radius: 10px 0 0 10px !important;
}

.react-tel-input .flag-dropdown:focus {
	border: 1px solid #00af54 !important;
	box-shadow: none !important;
}

.react-tel-input .form-control::placeholder {
	font-family: "Poppins", sans-serif !important;
	font-weight: 500 !important;
	font-size: 0.9rem !important;
	color: #3f3f3f !important;
}

.react-tel-input .form-control {
	/* border: 1px solid #eaeaea !important; */
}

.react-tel-input .form-control:focus {
	border: 1px solid #00af54 !important;
	box-shadow: none !important;
}

.react-tel-input .selected-flag {
	width: 41px !important;
}

.react-tel-input .selected-flag:hover {
	background-color: transparent !important;
}

.react-tel-input .selected-flag:focus {
	background-color: transparent !important;
	border: 1px solid #00af54 !important;
}

.react-tel-input .country-list .country:hover {
	background-color: #eaeaea !important;
}

.react-tel-input .country-list .country-name {
	font-family: "Poppins", sans-serif !important;
}

.react-tel-input .country-list .country .dial-code {
	font-family: "Poppins", sans-serif !important;
	color: #eaeaea;
}

.authModal {
	background: #fff;
	width: 200px;
	height: 80px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	position: absolute;
	right: 23px;
	top: 80px;
	z-index: 2;
	transition: 0.5s ease-in-out;
	opacity: 0;
	transform: scale(0);
	transform-origin: center top;
}

.authModal.show {
	opacity: 1;
	transform: scale(1);
}
